*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
}

#nvm{
    color: #fff;
    width: 100vw;
}

#imagem{
    width: 2vw;
}

#searcher{
    width: 45vw;
}

#drop{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 4;
    max-width: 200px;
    width: 200px;
    list-style-type: none;
    padding: 0;
    transition: 0.5s;
}

#drop a:hover{
    background-color: red;
}

#dropmenu:hover #drop{
    visibility: visible;
    opacity: 1;
    box-shadow: 0 5px 20px 0 black;
}

#teste{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart:hover #drop{
    visibility: visible;
    opacity: 1;
    box-shadow: 0 5px 20px 0 black;
}

#contanav{
    visibility: hidden;
    width: 20vw;
    height: 40vh;
    position: absolute;
    z-index: 4;
    left: 79.5vw;
}

#contanav input{
    transition: box-shadow 0.2s ease-in-out;
}

#contanav input:hover{
    box-shadow: 0 0 0 2px aqua;
}

#login:hover #contanav{
    visibility: visible;
}

#vendas{
    width: 10vw;
    height: 10vh;
}